---
# Source: hivezodiac/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: hivezodiac
  labels:
    app: hivezodiac
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: mqtt
      port: 1883
      targetPort: 1883
      protocol: TCP
  selector:
    app: hivezodiac
---
# Source: hivezodiac/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hivezodiac
  labels:
    app: hivezodiac
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hivezodiac
  template:
    metadata:
      labels:
        app: hivezodiac
    spec:
      imagePullSecrets:
      containers:
        - name: hivezodiac
          image: "hivezodiac:latest"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
            - containerPort: 1883
          env:
          resources:
            {}
          volumeMounts:
      volumes:
