replicaCount: 1

image:
  repository: hivezodiac
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

containerPort: 8080

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

imagePullSecrets: []

extraEnv: []

extraVolumes: []
extraVolumeMounts: []
